* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
  text-align: left;
  text-transform: uppercase;
  padding: 15px 7%;
  background-color: #262646;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

nav {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 300px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  font-size: large;
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #e6e6e6;
  font-weight: 400;
}

.footer {
  text-align: left;
  padding: 15px 7%;
  background-color: #262646;
  color: #fff;
  border-top: 4px solid #fdb347;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 50px;
}

.footer-col ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.gmaps {
  width: 130px;
  height: auto;
}